.backgroundhmge{
    background-image: url("../retailapp.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;


}
#sn{
    background-color:rgb(113, 245, 205) ;
    /* border-color:rgb(82, 234, 245) ; */
    background-color:rgb(215, 218, 217) ;

}
.quotes{
    position: absolute;
    top: 35%;
    left: 15%;
}
.quote{
    font-size: 60px;
}