.box{
    background-image: url('../images/blur.jpg');

    background-size: cover;
    background-repeat: no-repeat;
}
h2{
    text-align: center;
    color: antiquewhite;
}
.all{
    color: rgb(252, 249, 251);
}
#butt{
    background-color: rgb(226, 156, 5);

    color: black;
}
#mail{
    opacity: 60%;
}
#password{
    opacity: 60%;

}