.bg{
    background-image: url('../retailapp.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow:scroll;
    position: relative;
    height: 100vh;

}
.detail{
   opacity: 70%; 
}

.mailbox{
    display: inline-block;
    
}

.pasbox{
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;
}
.positionchange{
position: absolute ;
right: 49%;
bottom: -28%;
}
.logopositions{
    position: absolute;
    bottom: 80%;
    right: 90%;
    }   
